@import 'variables';

code {
  font-family: Input, Hack, 'DejaVu Sans Mono', Monaco, Consolas, 'Ubuntu Mono', monospace;
  font-feature-settings: normal;
  background: var(--accent-alpha-20);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: 0.95rem;
}

pre {
  font-family: Input, Hack, 'DejaVu Sans Mono', Monaco, Consolas, 'Ubuntu Mono', monospace;
  padding: 20px;
  font-size: 0.95rem;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 10%);
  border-bottom: 1px solid rgba(255, 255, 255, 10%);

  @media (max-width: $phone-max-width) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    padding: 0;
    margin: 0;
    background: none;
  }
}

blockquote {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (max-width: $phone-max-width) {
    padding-right: 0;
  }

  &::before {
    content: 'â€';
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p {
    position: relative;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p::before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table th td {
  border: 1px dashed var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul ol {
  margin-left: 30px;
  padding: 0;

  li {
    position: relative;
  }

  @media (max-width: $phone-max-width) {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

// .container {
//   display: flex;
//   flex-direction: column;
//   padding: 40px;
//   max-width: 864px;
//   min-height: 100vh;
//   margin: 0 auto;

//   @media (max-width: $phone-max-width) {
//     padding: 20px;
//   }
// }

.content {
  display: flex;
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}
